@model ToDoList.Web.Models.EditToDoItemViewModel

@{
    ViewBag.Title = "Edit Item";
    Layout = "_Layout";
}

<h1>Edit Item</h1>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <input asp-for="Id" type="hidden"/>
    <input asp-for="IgnoreTimeConflicts" type="hidden"/>
    <input asp-for="ConfirmedConflictKey" type="hidden"/>

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TargetDayTime" class="form-label"></label>
        <input asp-for="TargetDayTime" asp-format="{0:yyyy-MM-ddTHH:mm}"
               type="datetime-local" class="form-control"/>
        <span asp-validation-for="TargetDayTime" class="text-danger"></span>
    </div>
    @if (Model.IgnoreTimeConflicts)
    {
        <button type="submit" class="btn btn-warning">Save anyway</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Save</button>
    }
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>