@model ErrorViewModel
@{
    ViewData["Title"] = "Something went wrong";
}

<h1 class="text-danger">Something went wrong</h1>
<p>We couldn't process your request right now.</p>
<p>Please try again again later or return to your todo list.</p>

<p>
    <a asp-controller="ToDo" asp-action="Index" class="btn btn-sm btn-warning">Back to Todo List</a>
</p>


@if (Model.ShowRequestId)
{
    <p class="text-muted">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}